[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
ExecTry=/usr/local/bin/graphviz-preview
Exec=/usr/local/bin/graphviz-preview %f
Name=GraphViz Preview
Categories=
MimeType=text/vnd.graphviz
Icon=
