[Desktop Entry]
Version=1.0
Type=Application
Name=Simple Note
Comment=Cross-platform Simplenote syncing note taking tool
Exec=nvpy
Icon=accessories-text-editor
Categories=Utility;
Keywords=simple;note;sync;editor;nvpy;
Terminal=false
StartupNotify=true
StartupWMClass=nvPY
