[Desktop Entry]
Type=Application
Exec=generate-booklet
Hidden=false
NoDisplay=false
Icon=emblem-documents
Keywords=pdf;generate;booklet;
X-GNOME-Autostart-enabled=true
Name[en_US]=Generate Booklet
Name[en]=Generate Booklet
Name[C]=Generate Booklet
Name[fr_FR]=Générer un livret
Comment=Tool to generate a PDF booklet from a PDF document.
Comment[en_US]=Tool to generate a PDF booklet from a PDF document.
Comment[fr_FR]=Outil de génération d'un livret PDF depuis un document PDF.
MimeType=application/pdf;application/x-pdf;application/x-bzpdf;application/x-gzpdf;
Categories=GNOME;GTK;Viewer;Graphics;Utility;
