[Desktop Entry]
Type=Action
Icon=rotate-right
Name[C]=Rotate 90° right
Tooltip[C]=Rotate 90° right
MimeTypes=application/pdf;application/x-pdf;application/x-bzpdf;application/x-gzpdf;
Capabilities=Writable
Profiles=rotate;
  
[X-Action-Profile rotate]
Exec=pdf-rotate --right %F
