[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=/usr/local/bin/envelope2address
Name=Scan Address from Envelope
Categories=Graphics
MimeType=
Icon=scanner
