[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=/usr/local/bin/scan2folder
Keywords=scan;folder;direct;hp;
Name=Scan to folder
Name[fr]=Scan direct
Comment=Tool to scan documents directly to a local folder
Comment[fr]=Outil pour scanner directment des documents vers un répertoire
Categories=GNOME;Graphics
MimeType=
Icon=/usr/share/icons/gnome/256x256/devices/scanner.png
StartupWMClass=yad
