[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=/usr/local/bin/scan2folder
Name[en_US]=Scan document to Folder
Name[en]=Scan document to Folder
Name[C]=Scan document to Folder
Name[fr_FR]=Scanner directement vers un répertoire
Comment=Tool to scan documents directly to a local folder.
Comment[en_US]=Tool to scan documents directly to a local folder.
Comment[fr_FR]=Outil pour scanner directment des documents vers un répertoire.
Categories=GNOME;Graphics
MimeType=
Icon=scanner
