# Motorola Moto G Gen2 (normal & ADB mode)
ATTR{idVendor}=="22b8", ATTR{idProduct}=="2e76|2e82", SYMLINK+="libmtp-%k", MODE="660", GROUP="audio", ENV{ID_MTP_DEVICE}="1", ENV{ID_MEDIA_PLAYER}="1"
# LG Bello
ATTR{idVendor}=="1004", ATTR{idProduct}=="633e", SYMLINK+="libmtp-%k", MODE="660", GROUP="audio", ENV{ID_MTP_DEVICE}="1", ENV{ID_MEDIA_PLAYER}="1"
# OnePlus One (normal & ADB mode)
ATTR{idVendor}=="05c6", ATTR{idProduct}=="6764|6765", SYMLINK+="libmtp-%k", MODE="660", GROUP="audio", ENV{ID_MTP_DEVICE}="1", ENV{ID_MEDIA_PLAYER}="1"
# OnePlus Two (normal & ADB mode)
ATTR{idVendor}=="2a70", ATTR{idProduct}=="9011|f003", SYMLINK+="libmtp-%k", MODE="660", GROUP="audio", ENV{ID_MTP_DEVICE}="1", ENV{ID_MEDIA_PLAYER}="1"
