[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=/usr/local/bin/android-screenshot
Name=Android Screenshot Utility
Categories=Graphics;Utility
Icon=phone
