[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=Sweet Home 3D
Comment=Sweet Home 3D designer
Exec=/home/##USER##/.local/apps/SweetHome3D/SweetHome3D
Icon=/home/##USER##/.local/apps/SweetHome3D/SweetHome3DIcon.png
Terminal=false
Type=Application
Categories=Graphics;
Keywords=architect;sweethome3d;home;plan;map;
