[Desktop Entry]
Version=1.0
Name=Firefox Web Browser
Comment=Browse the World Wide Web
GenericName=Web Browser
Keywords=Internet;WWW;Browser;Web;Explorer
Exec=/home/nicolas/.local/apps/molotov.AppImage
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/home/nicolas/.config/icons/molotov.png
Categories=GNOME;GTK;Network;WebBrowser;
MimeType=
StartupNotify=true
Name[en_US]=Molotov
