[Desktop Entry]
Version=1.0
Name=Molotov TV
Comment=Molotov TV
GenericName=Web Browser
Keywords=Internet;WWW;Browser;Web;Explorer
Exec=/usr/local/bin/molotov.AppImage
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/home/nicolas/.config/icons/molotov.png
Categories=GNOME;GTK;Network;WebBrowser;
MimeType=
StartupNotify=true
Name[en_US]=Molotov TV
