[Desktop Entry]
Type=Action
Icon=video
Name[C]=Convert to MKV with AAC audio
Name[en]=Convert to MKV with AAC audio
Name[en_US]=Convert to MKV with AAC audio
Name[fr_FR]=Conversion en fichier MKV avec audio AAC
Tooltip[C]=Conversion of any video file to a MKV container with AAC audio
Tooltip[en]=Conversion of any video file to a MKV container with AAC audio
Tooltip[en_US]=Conversion of any video file to a MKV container with AAC audio
Tooltip[fr_FR]=Outil de conversion d'un fichier video en fichier MKV avec audio au format AAC
Profiles=convert2mkv_video;

[X-Action-Profile convert2mkv_video]
Exec=video-convert2mkv %f
MimeTypes=video/x-msvideo;video/x-dv;video/x-m4v;video/mkv;video/quicktime;video/x-sgi-movie;video/mp4;video/mpeg;
Name[C]=Default profile
Name[en]=Default profile
Name[en_US]=Default profile
Name[fr_FR]=Profil par défaut
