[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=/usr/local/bin/video-stabilize
Name=Video rotation and stabilization
Categories=GNOME;AudioVideo;AudioVideoEditing;
MimeType=video/*;
Icon=stabilizer
