[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=/usr/local/bin/video-convert2mkv
Name=Convert to MKV/AAC
Categories=GNOME;AudioVideo;AudioVideoEditing;
MimeType=video/*;
Icon=video
