[Desktop Entry]
Type=Action
Icon=tags
Name[C]=Rename to YYYYMMDD_HHMMSS-Country-City
Tooltip[C]=Rename file according to its Creation date, Country & City 
MimeType=image/all;
Capabilities=Writable
Profiles=rename;

[X-Action-Profile rename]
TryExec=/usr/local/bin/tags-creationdate
Exec=/usr/local/bin/tags-creationdate --rename --country --city %F
