[Desktop Entry]
Type=Action
Icon=document-open-recent
Name[C]=Apply time shift to Creation date
TTooltip[C]=Select a time shift and apply it to XMP tag CreationTime
MimeTypes=image/jpeg;image/png;
Profiles=timeshift;

[X-Action-Profile timeshift]
TryExec=/usr/local/bin/tags-timeshift
Exec=/usr/local/bin/tags-timeshift %F
