Desktop Entry]
Type=Action
Icon=tags
Name[C]=Rename with EXIF creation date
Tooltip[C]=Rename file according to its EXIF creation date 
MimeType=image/all;
Capabilities=Writable
Profiles=rename;

[X-Action-Profile rename]
TryExec=/usr/local/bin/tags-xmp-date
Exec=/usr/local/bin/tags-xmp-date --rename --country --city %F
