[Desktop Entry]
Type=Action
Icon=tags
Name[C]=XMP tagger
TTooltip[C]=Manage main XMP tags
MimeTypes=application/pdf;image/jpeg;image/png;
Profiles=xmp;

[X-Action-Profile xmp]
TryExec=/usr/local/bin/tags-xmp
Exec=/usr/local/bin/tags-xmp %F
