[Desktop Entry]
Type=Action
Icon=tags
Name[C]=EXIF - Set system dates with creation date
Tooltip[C]=Set System dates according to EXIF creation date 
MimeType=image/*;
Capabilities=Writable
Profiles=systemdate;

[X-Action-Profile systemdate]
TryExec=/usr/local/bin/tags-creationdate
Exec=/usr/local/bin/tags-creationdate --system %F
