[Desktop Entry]
Type=Action
Icon=tags
Name[C]=Force System dates to Creation date
Tooltip[C]=Set System dates according to EXIF Creation date 
MimeType=image/*;
Capabilities=Writable
Profiles=systemdate;

[X-Action-Profile systemdate]
TryExec=/usr/local/bin/tags-creationdate
Exec=/usr/local/bin/tags-creationdate --system %F
