[Desktop Entry]
Type=Menu
Icon=tags
Name[C]=Image tags ...
Tooltip[C]=Tools to manage images tags (XMP, IPTC, EXIF, ...)
ItemsList=tags-date-system;tags-date-rename;tags-update-action;tags-date-shift;
