[Desktop Entry]
Type=Action
Icon=flashair-icon
Name[C]=Download from Flashair SD
Name[en]=Download from Flashair SD
Name[en_US]=Download from Flashair SD
Name[fr_FR]=Recuperer depuis SD Flashair 
Tooltip[C]=Tool to recover media files from wifi Flashair SD cards
Tooltip[en]=Tool to recover media files from wifi Flashair SD cards
Tooltip[en_US]=Tool to recover media files from wifi Flashair SD cards
Tooltip[fr_FR]=Outil de recuperation de fichiers depuis une carte SD wifi Flashair
Profiles=download_file;

[X-Action-Profile download_file]
Exec=flashair-command %F
MimeTypes=all/allfiles;
ShowIfRunning=flashair-daemon
Folders=/media/flashair;
Name[C]=Download file
Name[en]=Download file
Name[en_US]=Download file
Name[fr_FR]=Telecharger
