[Desktop Entry]
Type=Action
Icon=evince
Name[C]=Generate Booklet
Name[en]=Generate Booklet
Name[en_US]=Generate Booklet
Name[fr_FR]=Générer un livret
Tooltip[C]=Tool to generate a booklet from a PDF document
Tooltip[en]=Tool to generate a booklet from a PDF document
Tooltip[en_US]=Tool to generate a booklet from a PDF document
Tooltip[fr_FR]=Outil de génération d'un livret depuis un document PDF
Profiles=generate_booklet;

[X-Action-Profile generate_booklet]
Exec=generate-booklet %f
MimeTypes=application/pdf;application/x-pdf;application/x-bzpdf;application/x-gzpdf;
Name[en_US]=Default profile
Name[en]=Default profile
Name[C]=Default profile
