[Desktop Entry]
Type=Action
Icon=evince
Name[C]=Generate Booklet from PDF file
Name[en]=Generate Booklet from PDF file
Name[en_US]=Generate Booklet from PDF file
Name[fr_FR]=Générer un livret depuis un document PDF
Tooltip[C]=Tool to generate a PDF booklet from a PDF document
Tooltip[en]=Tool to generate a PDF booklet from a PDF document
Tooltip[en_US]=Tool to generate a PDF booklet from a PDF document
Tooltip[fr_FR]=Outil de génération d'un livret PDF depuis un document PDF
Profiles=generate_booklet;

[X-Action-Profile generate_booklet]
Exec=generate-booklet %f
MimeTypes=application/pdf;application/x-pdf;application/x-bzpdf;application/x-gzpdf;
Name[en_US]=Default profile
Name[en]=Default profile
Name[C]=Default profile
