[Desktop Entry]
Type=Action
Icon=emblem-photos
Name[C]=Resize to a specific format
Name[en]=Resize to a specific format
Name[en_US]=Resize to a specific format
Name[fr_FR]=Redimensionner dans un format prédéfini
Tooltip[C]=Tool to resize a picture file to a pre-defined format
Tooltip[en]=Tool to resize a picture file to a pre-defined format
Tooltip[en_US]=Tool to resize a picture file to a pre-defined format
Tooltip[fr_FR]=Outil de redimensionnement d'une image dans un format prédéfini
Profiles=resize_pix;

[X-Action-Profile resize_pix]
Exec=image-resize %f
MimeTypes=image/bmp;image/gif;image/jpeg;image/jpg;image/png;image/tiff;inode/directory;
Name[C]=Default profile
Name[en]=Default profile
Name[en_US]=Default profile
Name[fr_FR]=Profil par défaut
