[Desktop Entry]
Type=Action
Icon=rotate-left
Name[C]=Rotate 90° left
Tooltip[C]=Rotate 90° left
MimeTypes=image/jpeg;image/png;image/gif;image/tiff;
Capabilities=Writable
Profiles=rotate;
  
[X-Action-Profile rotate]
Exec=image-rotate --left %F
