[Desktop Entry]
Type=Action
Icon=rotate-right
Name[C]=Rotate 90° right
Tooltip[C]=Rotate 90° right
MimeTypes=image/jpeg;image/png;image/gif;image/tiff;
Capabilities=Writable
Profiles=rotate;
  
[X-Action-Profile rotate]
Exec=image-rotate --right %F
