[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=/usr/local/bin/image-level-optimize
Name=Automatic image levels optimisation
Categories=Graphics;Utility
MimeType=image/bmp;image/gif;image/jpeg;image/jpg;image/png;image/tiff;
Icon=image-level-optimize
